@import './styles/reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

html,
body {
	min-height: 100vh;
	font-family: 'DM Sans', sans-serif;
	letter-spacing: -0.5px;
}

#root {
	min-height: 100vh;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* General */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.section {
	padding: 70px 0;
}
