.website-link {
  color: #000000;
  transition: opacity 0.2s ease-in;
  text-decoration: none;
}

.website-link.dark-theme {
  color: #ffffff;
}

.website-link:hover {
  opacity: 0.8;
}

.title-favorite-recipe {
  font-size: 30px;
  line-height: 100%;
  text-align: center;
}

.favorite-ingredients__list {
  padding: 0px 30px 20px 30px;
  counter-reset: li;
}
